<html>
    <head>
    </head>

    <body>
        <div>
            <form action="/output" method="GET">
                <label for="start_location">Start Location:</label>
                <input type="text" id="start_loc" name='start_loc' placeholder="Enter location">

                <br>

                <label for="end_location">End Location:</label>
                <input type="text" id="end_loc" name='end_loc' placeholder="Enter location">

                <br>

                <input type="submit" value="Calculate" />
            </form>
        </div>
    </body>
</html>
